.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.isDone {
  opacity: 0.5;
}

.active {
  background-color: darkseagreen;
}

.error {
  border: 2px solid red;
  outline: transparent;
}
.errorMessage {
  color: red;
}
